.popup__form-container {
    box-sizing: border-box;
    max-width: 430px;
    background-color: #FFFFFF;
    margin: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    padding: 36px;
    width:100%;
}

@media screen and (max-width: 767px) {
    .popup__form-container {
        width: calc(100% - (19px + 19px));
        padding: 22px;
    }

}