.header {
    margin: 45px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    width: calc(100% - 400px);
}
@media screen and (min-width: 1280px) {
    .header {
        width: 880px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: 100%;
        padding: 28px 0 0 0;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .header {
        justify-content: flex-end;
        padding-bottom: 10px;
    }
}